
body {
    font-family: Arial, sans-serif;
}

.navbar-toggler {
    width: fit-content;
    color: #274046;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
}

    .navbar-toggler:hover {
        background: #274046;
    }

    .navbar-toggler span {
        position: initial;
    }

.flex-column {
    width: 100%;
}

.top-row {
    height: 3.5rem;
    background-color: #274046;
}

.navbar-brand {
    font-size: 1.1rem;
    color: #274046;
    font-weight: bold;
}
    
.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #274046;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active, .nav-item ::deep a.active:hover {
            background-color: rgba(32,101,209,0.08);
            color: #274046;
            font-weight: bold;
        }

        .nav-item ::deep a:hover {
            background-color: rgb(70 83 96 / 8%);
        }

.sideLogo {
    margin: 1.9rem auto;
    width: fit-content;
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        display: block;
    }

    .sideLogo {
        display: none;
    }
}

.nav-back {
    width: 100%;
    height: 100%;
    position: fixed;
    background: linear-gradient(75deg,rgba(22,28,36,0.48) 0%,rgba(22,28,36,1) 100%);
    top: 0;
    left: 0;
    display: none;
}

.logout {
    border: none;
    background-color: transparent;
    width: 100%;
    background-color: #333333;
    padding: 0.9rem;
    border-radius: 0.19rem;
    text-align: left;
    color: #6C5B7B;
    font-weight: bold;
}

    .logout:hover {
        background-color: #274046;
    }

.last-menu {
    margin-top: 3rem;
}

.navbar {
    background-color: transparent;
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 1rem;  
}

.navbar-brand img {
    width: 9rem;
    height: 6rem;
}

@media (max-width: 641px) {
    .nav {
        visibility: hidden;
        position: fixed;
        left: -100%;
        top: 0;
        height: 100vh;
        transition: 0.19s ease-in-out;
        width: 250px;
        border-right: 1px dashed rgba(145,158,171,0.24);
        z-index: 10;
        background-color: #274046;
        overflow-y: scroll;
    }

    .nav-back {
        display: block;
        z-index:10;
    }

    .navbar {
        margin-top: 0;
    }
}

.navCollapse {
    left: 0;
    visibility: initial;
    padding-top: 1rem;
}
    
